{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">About the Finch Collector</h1>
<hr>
<p class="center-align"> As an avid enthusiast and proud owner of a diverse flock of charming finches, I've created this online space to share my passion for these delightful feathered friends. With a love for every unique personality and vibrant plumage, my website serves as a virtual aviary where fellow bird lovers and curious minds can explore the fascinating world of finches.</p>


{% endblock %}